# Example ssl file to generate a certificate
[ req ]
default_bits           = 1024
default_keyfile        = cigri.pem
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no

[ req_distinguished_name ]
C                      = FR
ST                     = Default CIGRI Province
L                      = Default CIGRI Locality
O                      = Default CIGRI O
OU                     = Default CIGRI OU
CN                     = Default CIGRI CN
emailAddress           = gridmaster@ujf-grenoble.fr

[ req_attributes ]
challengePassword              = cigri

