[Unit]
Description=CiGri computing grid server
After=postgresql.service

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o cigri -d /var/run/cigri
ExecStart=/usr/local/share/cigri/modules/almighty.rb
PIDFile=/var/run/cigri/almighty.pid
User=cigri
WorkingDirectory=/var/lib/cigri
RuntimeDirectory=/var/run/cigri

[Install]
WantedBy=default.target
